body{
    background-color: lightslategray;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .dashboard-button {
    background-color: #8ada39;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dashboard-button:hover {
    background-color: red;
  }  